{% extends "@theme/layouts/base.twig" %}

{% block content %}
</div>{# close container from base #}

{% block page_content %}{% endblock %}

<div class="container">{# reopen for base #}
{% endblock %}
