# ZephyrPHP Configuration

# Application
APP_NAME=ZephyrPHP
APP_DEBUG=true
ENV=dev

# Security (Generate with: php craftsman key:generate)
APP_KEY=

# Views
VIEWS_PATH=/pages

# Database
DB_CONNECTION=pdo_mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=zephyrphp
DB_USERNAME=root
DB_PASSWORD=

# Auth
AUTH_HOME=/cms
SESSION_DRIVER=file
SESSION_LIFETIME=120

# CMS
CMS_THEME=hello
