{% extends "@theme/layouts/base.twig" %}

{% block title %}{{ page.title ?? config('app.name', 'ZephyrPHP') }}{% endblock %}

{% block content %}
<section class="hero">
    <h1 class="hero__title">{{ config('app.name', 'ZephyrPHP') }}</h1>
    <p class="hero__subtitle">Your site is ready. Sign in to start building.</p>
    <div class="hero__actions">
        <a href="/login" class="btn btn--primary">Sign In</a>
        <a href="/register" class="btn btn--outline">Create Account</a>
    </div>
</section>
{% endblock %}
